body{
    font-family: 'Roboto', sans-serif;
}
.Login-page{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Login-Box{
    width: 313px;
    height: 500px;
    border: 1px solid #d5d5d5;
    border-radius: 20px;
    margin-top: 162px;
    box-shadow: 0px 5px 17px -2px #9d9d9d;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    
}
.login-details{
    display: flex;
    flex-direction: column;
    padding: 5px;
  
}
.login-input{
    margin-top: 10px;
    width: 221px;
    height: 33px;
    border: 1px solid #2649d166;
    border-radius: 5px;
}
.login-btn{
    width: 221px;
    height: 41px;
    border: 1px solid #2649d166;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 5px;
}
.login-details-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
}
.google-icon{
    width: 35px;
    height: 36px;
}
.google-login-btn{
    margin-top: 44px;
    width: 221px;
    height: 41px;
    border: 1px solid #2649d166;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 1px 8px 0px #b1b1b1;
}

.google-login-btn:hover{
    cursor: pointer;
}