.nav-bar{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.nav-sections{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    padding: 0px;
    width: 348px;
    margin: 8px;
    height: 45px;
    box-shadow: 0px 2px 12px 0px #dbdbdb;
    border: 1px solid rgb(215 215 255);
    border-radius: 8px;
    font-size: 17px;
    justify-content: center;
    transition: background-color 0.5s ease, color 0.5s ease
}
.nav-sections:hover{
    background-color: rgba(0, 0, 255, 0.507);
    color: white;
    transition: all 0.3sec ease;
    cursor: pointer;
}
.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
}